.timer {
    padding: 10px;
    text-align: center;
}

.timer-text {
    font-size: 20px;
}

div{
    padding: 100px;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: red;
}